@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 18px;
  line-height: 1.6;
  box-sizing: border-box;
}

body {
  @apply p-12;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
